{% extends 'base.html' %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-6 article-image" style="display: inline-block; height:300px; background: url({{article.image_url}}) no-repeat center center">

        </div>
        <div class="col-md-6 article">
            <h3>{{article.title}}</h3><h5>by {{article.author}}</h5>

            <p class="description">{{article.description}} <a href="{{article.url}}">Read more...</a></p>
            <p class="timestamp"><b>Published on {{article.publish_time}}</b></p>

        </div>
    </div>

</div>

{% endblock %}